<form [hidden]="!showEntry" #DryItemDemandForm="ngForm">
  <div class="header_section"> </div>
  <div class="container">
    <div class="row bg-white">
      <section class="Contraner-up">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title pull-left"> <a class="btn btn-success" (click)="close()" title="Back"><img
                      style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
                <h3 class="center-heading text-center">ড্রাই রেশন ডিমান্ড</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                    <div class="up-midel"></div>
                    <select (change)="LoadItem()" [(ngModel)]="objDryItemDemand.DemandTypeID" required
                      name="demandTypeID" class="form-control">
                      <option value='undefined'>-Select Demand Type-</option>
                      <option *ngFor="let demandType of lstDemandType" [value]="demandType.id">
                        {{demandType.name}}
                      </option>
                    </select>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="empty-space"></div>
        <div class="top-row" style="margin-top: 10px;">
          <div class="top-left">
            <div class="col-md-6 header_input">
              <div class="row">
                <div class="col-md-4">
                  <label for="">হইতেঃ</label>
                </div>
                <div class="col-md-8">
                  <select [(ngModel)]="objDryItemDemand.FromUnitID" required name="unitID" class="form-control">
                    <option value='undefined'>-Select-</option>
                    <option *ngFor="let vmUnit of lstVMUnit" [value]="vmUnit.Unit.UnitID">
                      {{vmUnit.Unit.UnitName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="">প্রতিঃ</label>
                </div>
                <div class="col-md-8">
                  <select class="form-control" name="toSSDID" [(ngModel)]="objDryItemDemand.ToSSDID">
                    <option *ngFor="let ssd of lstSSDList" [value]="ssd.id">
                      {{ssd.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="">সংগ্রহের স্থানঃ</label>
                </div>
                <div class="col-md-8">
                  <select class="form-control" (change)="enableOther()" name="supplyPalce"
                    [(ngModel)]="objDryItemDemand.SupplyPlaceID">
                    <option value='undefined'>-Select-</option>
                    <option *ngFor="let suplyPlace of lstSupplyPlace" value="{{suplyPlace.SupplyPlaceID}}">
                      {{suplyPlace.SupplyPlaceName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="">&nbsp;</label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" disabled id="supplyPlaceName" name="supplyPalceName"
                    [(ngModel)]="objDryItemDemand.OtherSupplyPlaceName" type="text" placeholder="Suppply Place">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="">পূর্বের চাহিদা পত্রের প্রাধিকারঃ</label>
                </div>
                <div class="col-md-8">
                  <input type="text" [(ngModel)]="objDryItemDemand.GeneralSendReference" class="form-control"
                    name="generalSendReference"> </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="">শেষ চাহিদা পত্রের তারিখঃ</label>
                </div>
                <div class="col-md-8">
                  <input [ngModel]="objDryItemDemand.EmergencyDate | date:'yyyy-MM-dd'"
                    (ngModelChange)="objDryItemDemand.EmergencyDate = $event" type="date" class="form-control"
                    name="emergencyDate">
                </div>
              </div>

            </div>
          </div>

          <div class="col-md-6 drytop-right">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">খাদ্য দ্রব্য সংগ্রহের তারিখ</label>
                  <input [ngModel]="objDryItemDemand.FoodDemandDate | date:'yyyy-MM-dd'"
                    (ngModelChange)="objDryItemDemand.FoodDemandDate = $event" type="date" class="form-control"
                    name="fodDemandDate">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">যে সময়ের জন্য চাহিদা দাখিল করা গেল</label>
                  <input [ngModel]="objDryItemDemand.DemandFrom | date:'yyyy-MM-dd'"
                    (ngModelChange)="objDryItemDemand.DemandFrom = $event" (change)="onDateChange()" type="date"
                    class="form-control" name="demandFrom">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">হইতে</label>
                  <input (change)="onDateChange()" [ngModel]="objDryItemDemand.DemandTo | date:'yyyy-MM-dd'"
                    (ngModelChange)="objDryItemDemand.DemandTo = $event" type="date" class="form-control"
                    name="demandTo">
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <div class="empty-space"></div>
      <div class="container">
        <section class="add_product">
          <div class="row">
            <form class="form-inline" action="/action_page.php">

            </form>
          </div>
        </section>
      </div>

      <section class="bina-mullo">
        <div class="chaitha text-center">
          <h4>চাহিদা ভিত্তির তথ্য</h4>

        </div>
        <div class="col-md-6">
          <div class="bina-left;">
            <table [hidden]="objDryItemDemand.DemandTypeID!=1">
              <tr>
                <th colspan="5" style="background-color: #d6f1c4">১। বিনামূল্যে প্রদান</th>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td style="width: 15%;"> রেশন জনবল</td>
                <td><input (change)="onResourceChange()" [(ngModel)]="totalResource" type="number" disabled
                    class="form-control" name="totalResource"></td>
              </tr>
              <tr>
                <td>জেসিও</td>
                <td><input (change)="onResourceChange()" [(ngModel)]="objDryItemDemandResourceDetail.NumberOfJCO"
                    type="number" class="form-control" name="numberOfJCO"></td>
              </tr>
              <tr>
                <td>ওআর</td>
                <td><input (change)="onResourceChange()" [(ngModel)]="objDryItemDemandResourceDetail.NumberOfOR"
                    type="number" class="form-control" name="numberOfOR"></td>
              </tr>
              <tr>
                <td> এনসি(ই)</td>
                <td><input (change)="onResourceChange()" [(ngModel)]="objDryItemDemandResourceDetail.NumberOfNCR"
                    type="number" class="form-control" name="numberOfNCR"></td>
              </tr>
              <tr>
                <td>নতুন ভর্তি</td>
                <td><input (change)="onResourceChange()" [(ngModel)]="objDryItemDemandResourceDetail.NewAdmission"
                    type="number" class="form-control" name="newAdmission"></td>
              </tr>
              <tr>
                <td> অসামরিক</td>
                <td><input [disabled]="objDryItemDemand.DemandTypeID!=2" (change)="onResourceChange()"
                    [(ngModel)]="objDryItemDemandResourceDetail.NumberOfCivil" type="number" class="form-control"
                    name="numberOfCivil"></td>
              </tr>

            </table>


          </div>
        </div>

        <div class="col-md-6" [hidden]="objDryItemDemand.DemandTypeID==1">
          <div class="bina-right">
            <div class="table-responsive">
              <table>
                <tr>
                  <th colspan="6" style="background-color: #d6f1c4">২।মুল্যে প্রদানঃ</th>

                </tr>
                <tr>
                  <td style="line-height: 10px;">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="3" class="poribarTitle">পরিবার </td>
                  <td colspan="4" class="chelemeyTitle">ছেলেমেয়ে </td>
                </tr>

                <tr>
                  <th></th>
                  <th></th>
                  <th style="text-align:center">নিজ</th>
                  <th style="text-align:center">স্ত্রী</th>
                  <th style="text-align:center">১২ বৎসরের উর্ধ্বে</th>
                  <th style="text-align:center">১২ বৎসরের নিম্নে</th>
                  <th style="text-align:center">০৩ বৎসরের নিম্নে</th>
                </tr>
                <tr>
                  <td style="line-height: 8px;">&nbsp;</td>
                </tr>
                <tr *ngFor="let fDetail of lstDryItemDemandFamilyDetail; let i = index;">
                  <td>
                    <div *ngIf="fDetail.Type== 1">
                      স্বপরিবার
                    </div>
                    <div *ngIf="fDetail.Type== 2">
                      পৃথক
                    </div>
                  </td>
                  <td style="width:15%;">{{fDetail.PostName}}</td>
                  <td>
                    <input type="text" [disabled]="fDetail.isEnable || fDetail.otherDisable"
                      (change)="onFamilyResourceChange()" name="NumberOfOwn{{i}}" type="number"
                      [(ngModel)]="fDetail.NumberOfOwn" class="form-control">
                  </td>
                  <td><input type="text" [disabled]="fDetail.isEnable" (change)="onFamilyResourceChange()"
                      name="NumberOfWife{{i}}" type="number" [(ngModel)]="fDetail.NumberOfWife" class="form-control">
                  </td>
                  <td><input type="text" [disabled]="fDetail.isEnable" (change)="onFamilyResourceChange()"
                      name="NumberOfChildrendAbove12{{i}}" type="number" [(ngModel)]="fDetail.NumberOfChildrendAbove12"
                      class="form-control"></td>
                  <td><input type="text" [disabled]="fDetail.isEnable" (change)="calculateBellow12Child()"
                      name="NumberOfChildrendBellow12{{i}}" type="number"
                      [(ngModel)]="fDetail.NumberOfChildrendBellow12" class="form-control"></td>
                  <td><input type="text" [disabled]="fDetail.isEnable" (change)="calculateBellow2Child()"
                      name="NumberOfChildrenBellow3{{i}}" type="number" [(ngModel)]="fDetail.NumberOfChildrenBellow3"
                      class="form-control"></td>

                </tr>



              </table>

            </div>
          </div>
        </div>

      </section>
      <div class="empty-space"></div>
      <section class="Contraner-table">
        <div class="col-md-12">
          <p><b>প্রাধিকারঃ এ আর আর ৪৯৯/৫০০ মােতাবেক চাহিদা পত্রের ভিত্তি ও বেসামরিক ব্যক্তি এবং তাদের পরিবারবর্গের
              জন্য
              বেসামরিক চিনি ব্যতীত অন্যান্য
              আইটেম {{totalResource}}X{{totalDay}}'='{{netResource}} জন এর মধ্যে এবং অন্যান্য</b></p>
          <p id="lblChildrenCount"><ins><b>

                আইটেম ব্যতীত শুধুমাত্র চিনি {{(totalResourceForSugar)}}*{{totalDay}}'='{{netChildTotal}} জন</b></ins>
          </p>
        </div>



        <div class="empty-space"></div>
        <div class="table-responsive table-oveflow-issue">
          <table class="tableFixHead" cellpadding="5" width="100%">
            <tr>
              <th colspan="9" style="text-align:center;background-color: #d6f1c4">ইউনিট কর্তৃক পূরণ করিতে হইবে।</th>
              <!-- <th colspan="5">এস এসসিডিপাের ব্যবহারের জন্য</th> -->

            </tr>
            <tr>

              <th>ক্রমিক </th>
              <th style="width:10%;">দ্রব্যের নাম</th>
              <th>প্রাধিকার</th>
              <th>মজুদের পরিমাণ</th>
              <th>বর্তমান চাহিদা</th>
              <th>মঞ্জরিকৃত</th>
              <th>মোড়কের প্রকার</th>
              <th>মোড়কের সংখ্যা</th>

              <!--<td >table</td>
          <td>gh</td>-->
            </tr>
            <tr *ngFor="let objDemandDetail of lstDryItemDemandDetail; let i=index">

              <td>&nbsp;<input (change)="calculatePradhikar(i)" name="isItemCheck{{i}}"
                  [(ngModel)]="objDemandDetail.isItemCheck" type="checkbox"> &nbsp;{{i+1}}</td>
              <td>
                {{objDemandDetail.ItemName}}
              </td>
              <td>
                <input name="PradhikarNo{{i}}" disabled [(ngModel)]="objDemandDetail.PradhikarNo" class="form-control"
                  type="text">
              </td>
              <td><input name="Stock{{i}}" id="Stock{{i}}" (change)="calculateCurrentDemand()" disabled
                  [(ngModel)]="objDemandDetail.Stock" type="text" class="form-control">
              </td>
              <td>
                <input name="CurrentDemand{{i}}" id="CurrentDemand{{i}}" disabled
                  [(ngModel)]="objDemandDetail.CurrentDemand" class="form-control" type="text">
              </td>
              <td><input name="ApprovedQty{{i}}" id="ApprovedQty{{i}}" [(ngModel)]="objDemandDetail.ApprovedQty" name
                  type="text" class="form-control" disabled></td>

              <td><input name="LotNumber{{i}}" [(ngModel)]="objDemandDetail.LotNumber" type="text" class="form-control"
                  disabled></td>
              <td><input name="LotNumber{{i}}" [(ngModel)]="objDemandDetail.LotNumber" type="text" class="form-control"
                  disabled></td>

            </tr>

          </table>
        </div>


      </section>
      <div class="empty-space"></div>


      <section class="Contraner-bottom">
        <div class="col-md-8">
          <div class="advairas">
            <h5>১। আমি প্রত্যায়ন করিতেছি যে, চাহিদাকৃত দ্রব্যাদি, আমার অধীনস্ত সৈনিকদের জন্য মজুদ/বিনামুল্যে/স্বল্প
              মূল্যে ইস্যু করা প্রয়ােজন।</h5>
            <h5> ২। প্রত্যায়ন হইল যে, মজুদ রেশন নিয়মিত রক্ষনাবেক্ষন ও পাল্টানাে হয়।</h5>
            <h5>স্টেশনঃ শহীদ সালাহউদ্দিন সেনানিবাস। </h5>
            <!-- তারিখঃ ২৫ / ১০/২০১৮ -->
          </div>

        </div>
        <div class="col-md-2">
          <div class="relative odinayok">
            <p class="absolute signature">অধিনায়ক</p>
          </div>

        </div>
        <div class="col-md-2">
          <div class="relative signacar">
            <p class="absolute signature">স্বাক্ষর</p>
          </div>

        </div>

        <div class="col-md-12 text-right" style="padding: 15px;">
          <button [disabled]='!DryItemDemandForm.valid' (click)="saveDryItemDemand()" class="btn btn-primary"> Save
          </button>
          <button class="btn btn-danger" (click)="close()" type="submit">Close</button>
        </div>
      </section>

    </div>
  </div>
</form>

<div class="modal fade" id="demandSummaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Unit Demand Approval</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table movie-table">
          <thead>
            <tr class="movie-table-head">
              <th>Item Name</th>
              <th style="text-align:right">Quantity</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let objFreshDetail of lstItemSummary; let i=index" class="dark-row">
              <td>
                {{objFreshDetail.ItemName}}
              </td>
              <td style="text-align:right">
                {{objFreshDetail.Quantity}}
              </td>
            </tr>
          </tbody>

        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="header_section"> </div>
<div [hidden]="showEntry" class="container content100vh">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title pull-left"> <a class="btn btn-success" routerLink="/unitDemand" title="Back"><img
                style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
          <h3 class="center-heading text-center">ড্রাই আইটেম ডিমান্ড লিস্ট</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
        </div>
        <div class="panel-body">
          <form #searchForm="ngForm" class="form-inline">

            <div class="form-group">
              <label for="email">ইউনিটঃ</label>
              <select [(ngModel)]="objQueryObject.UnitID" name="unitID" class="form-control">
                <option value='undefined'>All</option>
                <option *ngFor="let vmUnit of lstVMUnit" [value]="vmUnit.Unit.UnitID">
                  {{vmUnit.Unit.UnitName}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="pwd">সংগ্রহের স্থানঃ</label>
              <select class="form-control" name="supplyPalce" [(ngModel)]="objQueryObject.SupplyPlaceID">
                <option value='0'>All</option>
                <option *ngFor="let suplyPlace of lstSupplyPlace" value="{{suplyPlace.SupplyPlaceID}}">
                  {{suplyPlace.SupplyPlaceName}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="pwd">হইতেঃ</label>
              <input type="date" required [ngModel]="objQueryObject.FromDate | date:'yyyy-MM-dd'"
                (ngModelChange)="objQueryObject.FromDate = $event" class="form-control" name="fromDate">
            </div>
            <div class="form-group">
              <label for="pwd">প্রতিঃ</label>
              <input type="date" required [ngModel]="objQueryObject.ToDate | date:'yyyy-MM-dd'"
                (ngModelChange)="objQueryObject.ToDate = $event" class="form-control" name="toDate">
            </div>


            <div class="form-group">

              <button [disabled]='!searchForm.valid' class="btn btn-success search-btn"
                (click)="getAllDryItemDemandByFilter()" type="submit">Serach</button>

              <button [disabled]='!searchForm.valid' class="btn btn-success search-btn" (click)="getDryDemandSummary()"
                type="submit">Demand Summary</button>

              <button class="btn btn-success search-btn" (click)="addNew()" type="submit">Add
                New</button>

            </div>
          </form>
        </div>
      </div> <br>
      <div class="table-responsive">
        <table class="table table-hover tableFixHead" style="border: 1px solid #565656;">
          <tr>
            <th>Unit Name</th>
            <th>Supply Place</th>
            <th>Request Type</th>
            <th>Request Date</th>
            <th>Collection Date</th>
            <!-- <th>From Date</th>
            <th>To Date</th> -->
            <th> Status</th>
            <th style="width: 20%; text-align:right">Action</th>

          </tr>
          <tr *ngFor="let vmDemand of lstVMDryItemDemand">
            <td>{{vmDemand.DryItemDemand.UnitName}}</td>
            <td>{{vmDemand.DryItemDemand.SupplyPlaceName}}</td>
            <td>{{vmDemand.DryItemDemand.DemandTypeName}}</td>
            <td>{{vmDemand.DryItemDemand.DemandDate | date:'yyyy-MM-dd'}}</td>
            <td>{{vmDemand.DryItemDemand.FoodDemandDate | date:'yyyy-MM-dd'}}</td>
            <td>{{vmDemand.DryItemDemand.StatusName}}</td>
            <td style="width: 20%; text-align:right">
              <a title="Detail" (click)="demandDetail(vmDemand)" class="edit"><i class='fa fa-list'
                  style="font-size: 20px; margin-right:20px"></i></a>

              <a title="Edit" [hidden]="vmDemand.DryItemDemand.Status>1" (click)="editDemand(vmDemand)" class="edit"><i
                  class='fa fa-pencil' style="font-size: 20px; margin-right:20px"></i></a>

              <a title="Print" (click)="distributeDryItemDemandPrint(vmDemand)" class="print"><i class="fa fa-print"
                  style="font-size: 20px;margin-right:20px"></i></a>
              <!-- <a title="Temporary Print" (click)="printDemand(vmDemand)" class="print"><i class="fa fa-print"
                  style="font-size: 20px;margin-right:20px"></i></a> -->

              <a title="Approve" [hidden]="!vmDemand.DryItemDemand.showApproval" (click)="approveDemand(vmDemand)"
                class="success"><i class="fa fa-check-square" style="font-size: 20px;margin-right:20px"></i></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="modal fade dryratdmd" id="unitDemandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Unit Demand Approval</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <table class="tableFixHead" cellpadding="5" width="100%">
            <tr>
              <th>ক্রমিক </th>
              <th style="width:10%;">দ্রব্যের নাম</th>
              <th style="text-align:right">প্রাধিকার</th>
              <th style="text-align:right">মজুদের পরিমাণ</th>
              <th style="text-align:right">বর্তমান চাহিদা</th>
              <th style="text-align:right">মঞ্জরিকৃত</th>
              <th style="text-align:right">মোড়কের সংখ্যা</th>
              <th style="text-align:right">মোড়কের প্রকার</th>

            <tr *ngFor="let objDemandDetail of lstDryItemDemandDetail; let i=index">

              <td> &nbsp;{{i+1}}</td>
              <td>
                {{objDemandDetail.ItemName}}
              </td>

              <td style="text-align:right">
                {{objDemandDetail.PradhikarNo}}
              </td>

              <td style="text-align:right">
                {{objDemandDetail.Stock }}
              </td>

              <td style="text-align:right">
                {{objDemandDetail.CurrentDemand}}
              </td>

              <td style="text-align:right">
                {{objDemandDetail.ApprovedQty}}
              </td>


              <td style="text-align:right">
                {{objDemandDetail.NumberOfPackingMaterial}}
              </td>

              <td style="text-align:right">
                {{objDemandDetail.PackingMaterialName}}
              </td>

            </tr>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="adminApprovalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Unit Demand Detail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table cellpadding="5" width="100%">
              <tr>

                <th>ক্রমিক </th>
                <th style="width:10%;">দ্রব্যের নাম</th>
                <th>প্রাধিকার</th>
                <th>মজুদের পরিমাণ</th>
                <th>বর্তমান চাহিদা</th>
                <th>মঞ্জরিকৃত</th>
                <th>মোড়কের সংখ্যা</th>
                <th>মোড়কের প্রকার</th>

              </tr>
              <tr *ngFor="let objDemandDetail of lstDryItemDemandDetail; let i=index">

                <td> &nbsp;{{i+1}}</td>
                <td>
                  {{objDemandDetail.ItemName}}
                </td>
                <td>
                  {{objDemandDetail.PradhikarNo}}
                </td>

                <td>
                  {{objDemandDetail.Stock }}
                </td>

                <td>
                  {{objDemandDetail.CurrentDemand}}
                </td>

                <td><input [style.color]="objDemandDetail.ApprovedQty>objDemandDetail.CurrentDemand ? 'red' : null"
                    name="ApprovedQty{{i}}" id="ApprovedQty{{i}}" [(ngModel)]="objDemandDetail.ApprovedQty" name
                    type="text" class="form-control" style="width:100% !important" disabled>
                </td>

                <td>
                  <input (change)="calculateApprovedQuantityByPM()" name="numberOfPackingMaterial{{i}}"
                    [(ngModel)]="objDemandDetail.NumberOfPackingMaterial" type="text" style="width:100% !important"
                    class="form-control">
                </td>
                <td>
                  <select (change)="calculateApprovedQuantity()" style="width:100% !important"
                    [(ngModel)]="objDemandDetail.PackingMaterial" name="packingMaterial{{i}}" class="form-control">
                    <option value='undefined'>Select</option>
                    <option *ngFor="let packing of lstPackingMaterial" [value]="packing.PackingMaterialID">
                      {{packing.MaterialName}}
                    </option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="approveDryItemDemand()" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="DryItemDemandModalPrint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg dryItemPrint" role="document">
      <div class="modal-content">
        <div class="modal-header noprint">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Unit Demand Approval</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="margin-top: -30px;">
          <form #DryItemDemandForm="ngForm">
            <div class="header_section"> </div>
            <div class="container">
              <div class="row bg-white">
                <section class="Contraner-up">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="">
                        <div class="panel-body text-center">
                          <div class="row">
                            <div style="margin: -3px 15px;float: right">
                              <h5>বা সে ফ সা - ২০৯৮ এর পরিবর্তে</h5>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                              <div class="up-midel"></div>
                              {{objDryItemDemand.DemandTypeName}}
                            </div>
                            <div style="margin: -3px 15px;float: right">
                              <div id="barcodeTarget" class="barcodeTarget">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="empty-space"></div>
                  <div class="row top-row" style="margin-top: 10px;">
                    <div class="top-left">
                      <div class="col-xs-5 col-md-6 header_input">
                        <div class="row">
                          <div class="col-md-2 col-xs-2">
                            <label for="">হইতেঃ</label>
                          </div>
                          <div class="col-md-10 col-xs-10 fontsize10">
                            <span>{{objDryItemDemand.UnitName}}</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2 col-xs-2">
                            <label for="">প্রতিঃ</label>
                          </div>
                          <div class="col-md-10 col-xs-10 fontsize10">
                            <span>SSD Gahatail</span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2 col-xs-4 pr0">
                            <label for="">সংগ্রহের স্থানঃ</label>
                          </div>
                          <div class="col-md-10 col-xs-8">
                            <span>{{objDryDemandRportObj.OtherSupplyPlaceName}} </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-xs-8">
                            <label for="">পূর্বের চাহিদা পত্রের প্রাধিকারঃ</label>
                          </div>
                          <div class="col-md-9 col-xs-4 fontsize10">
                            <span> {{objDryDemandRportObj.PreviousPradikarNo}} </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-xs-8">
                            <label for="">শেষ চাহিদা পত্রের তারিখঃ</label>
                          </div>
                          <div class="col-md-9 col-xs-4 fontsize10">
                            <span> {{objDryDemandRportObj.PreviousDemandDate | date:'yyyy-MM-dd'}} </span>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-xs-7 col-md-6 drytop-right">
                      <div class="row">
                        <div class="col-md-9 col-xs-9">
                          <div class="form-group fontsize10">
                            <label for="">খাদ্য দ্রব্য সংগ্রহের তারিখ</label>
                            <span> {{objDryItemDemand.FoodDemandDate | date:'yyyy-MM-dd'}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-xs-8">
                          <div class="form-group fontsize10">
                            <label for="">যে সময়ের জন্য চাহিদা দাখিল করা গেল</label>
                            <span> {{objDryItemDemand.DemandFrom | date:'yyyy-MM-dd'}}</span>
                          </div>
                        </div>
                        <div class="col-md-8 col-xs-4">
                          <div class="form-group fontsize10">
                            <label for="">হইতে</label>
                            <span> {{objDryItemDemand.DemandTo | date:'yyyy-MM-dd'}}</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </section>

                <div class="empty-space"></div>
                <section class="Contraner-table">
                  <div class="row">
                    <div class="col-md-12 col-xs-12">
                      <p><b>প্রাধিকারঃ এ আর আর ৪৯৯/৫০০ মােতাবেক চাহিদা পত্রের ভিত্তি ও বেসামরিক ব্যক্তি এবং তাদের
                          পরিবারবর্গের
                          জন্য
                          বেসামরিক চিনি ব্যতীত অন্যান্য
                          আইটেম
                          {{objDryDemandRportObj.totalResource}}X{{objDryDemandRportObj.totalDay}}'='{{objDryDemandRportObj.netResource}}
                          জন এর মধ্যে এবং অন্যান্য</b></p>
                      <p id="lblChildrenCount1"><ins><b>

                            আইটেম ব্যতীত শুধুমাত্র চিনি
                            {{objDryDemandRportObj.bellow3ChildTotal}}*{{objDryDemandRportObj.totalDay}}'='{{objDryDemandRportObj.netChildTotal}}
                            জন</b></ins>
                      </p>
                    </div>
                  </div>
                  <div class="empty-space"></div>
                  <div class="table-responsive" style="min-height: auto;">
                    <table class="tableFixHead" border="1" cellpadding="5" width="100%">
                      <tr>
                        <th colspan="9" style="text-align:center;background-color: #d6f1c4">ইউনিট কর্তৃক পূরণ করিতে
                          হইবে।</th>
                      </tr>
                      <tr>

                        <th>ক্রমিক </th>
                        <th style="width:10%;">দ্রব্যের নাম</th>
                        <th style="text-align:right">প্রাধিকার</th>
                        <th style="text-align:right">মজুদের পরিমাণ</th>
                        <th style="text-align:right">বর্তমান চাহিদা</th>
                        <th style="text-align:right">মঞ্জরিকৃত</th>
                        <th style="text-align:right">মোড়কের সংখ্যা</th>
                        <th style="text-align:right">মোড়কের প্রকার</th>


                      <tr *ngFor="let objDemandDetail of lstDryItemDemandDetail; let i=index">

                        <td> &nbsp;{{i+1}}</td>
                        <td>
                          {{objDemandDetail.ItemName}}
                        </td>

                        <td style="text-align:right">
                          {{objDemandDetail.PradhikarNo}}
                        </td>

                        <td style="text-align:right">
                          {{objDemandDetail.Stock }}
                        </td>

                        <td style="text-align:right">
                          {{objDemandDetail.CurrentDemand}}
                        </td>

                        <td style="text-align:right">
                          {{objDemandDetail.ApprovedQty}}
                        </td>


                        <td style="text-align:right">
                          {{objDemandDetail.NumberOfPackingMaterial}}
                        </td>

                        <td style="text-align:right">
                          {{objDemandDetail.PackingMaterialName}}
                        </td>

                      </tr>
                    </table>
                  </div>


                </section>
                <div class="empty-space"></div>

                <section class="bina-mullo">
                  <div class="chaitha text-center">
                    <h4>চাহিদা ভিত্তির তথ্য</h4>

                  </div>
                  <div class="row">
                    <div class="col-md-4 col-xs-4">
                      <div class="bina-left;">
                        <table border="1" [hidden]="objDryItemDemand.DemandTypeID!=1">
                          <tr>
                            <th colspan="5" style="background-color: #d6f1c4; margin-bottom: 5px">১। বিনামূল্যে প্রদান
                            </th>
                          </tr>
                          <tr>
                            <td style="width: 25%;"> রেশন জনবল</td>
                            <td>{{objDryDemandRportObj.totalResource}}</td>
                          </tr>
                          <tr>
                            <td>জেসিও</td>
                            <td>{{objDryItemDemandResourceDetail.NumberOfJCO}}</td>
                          </tr>
                          <tr>
                            <td>ওআর</td>
                            <td>{{objDryItemDemandResourceDetail.NumberOfOR}}</td>
                          </tr>
                          <tr>
                            <td> এনসি(ই)</td>
                            <td>{{objDryItemDemandResourceDetail.NumberOfNCR}}</td>
                          </tr>
                          <tr>
                            <td> অসামরিক</td>
                            <td>{{objDryItemDemandResourceDetail.NumberOfCivil}}</td>
                          </tr>

                        </table>


                      </div>
                    </div>

                    <div class="col-md-8 col-xs-8">
                      <div class="bina-right">
                        <div class="table-responsive">
                          <table border="1" width="100%">
                            <tr>
                              <th colspan="6" style="background-color: #d6f1c4">২।মুল্যে প্রদানঃ</th>
                            </tr>
                            <tr>
                              <td colspan="3" class="poribarTitle">পরিবার </td>
                              <td colspan="4" class="chelemeyTitle">ছেলেমেয়ে </td>
                            </tr>

                            <tr>
                              <th></th>
                              <th style="text-align:center">নিজ</th>
                              <th style="text-align:center">স্ত্রী</th>
                              <th style="text-align:center">১২ বৎসরের উর্ধ্বে</th>
                              <th style="text-align:center">১২ বৎসরের নিম্নে</th>
                              <th style="text-align:center">০৩ বৎসরের নিম্নে</th>
                            </tr>

                            <tr *ngFor="let fDetail of lstDryItemDemandFamilyDetail; let i = index;">
                              <td style="width:15%;">{{fDetail.PostName}}</td>
                              <td>
                                {{fDetail.NumberOfOwn}}
                              </td>
                              <td>
                                {{fDetail.NumberOfWife}}
                              </td>
                              <td>

                                {{fDetail.NumberOfChildrendAbove12}}
                              </td>
                              <td>
                                {{fDetail.NumberOfChildrendBellow12}}
                              </td>

                              <td>
                                {{fDetail.NumberOfChildrenBellow3}}
                              </td>

                            </tr>

                          </table>

                        </div>
                      </div>
                    </div>
                  </div>

                </section>
                <section class="Contraner-bottom">
                  <div class="row">
                    <div class="col-md-8 col-xs-8">
                      <div class="advairas">
                        <h5>১। আমি প্রত্যায়ন করিতেছি যে, চাহিদাকৃত দ্রব্যাদি, আমার অধীনস্ত সৈনিকদের জন্য
                          মজুদ/বিনামুল্যে/স্বল্প
                          মূল্যে ইস্যু করা প্রয়ােজন।</h5>
                        <h5> ২। প্রত্যায়ন হইল যে, মজুদ রেশন নিয়মিত রক্ষনাবেক্ষন ও পাল্টানাে হয়।</h5>
                        <h5>স্টেশনঃ শহীদ সালাহউদ্দিন সেনানিবাস। </h5>
                        <!-- তারিখঃ ২৫ / ১০/২০১৮ -->
                      </div>

                    </div>
                    <div class="col-md-2 col-xs-2">
                      <div class="relative odinayok">
                        <img id="logo" width="100px" [hidden]="objDryItemDemand.Status<4" src="data:image/jpeg;base64,{{objUser.Sign}}" alt="ImageFile" />
                        <p class="absolute signature">অধিনায়ক</p>
                      </div>

                    </div>
                    <div class="col-md-2 col-xs-2">
                      <div class="relative signacar">
                        <img id="logo" width="100px" 
                          src="data:image/jpeg;base64,{{objDryDemandRportObj.ApproverSign}}" alt="ImageFile" />
                        <p class="absolute signature">স্বাক্ষর</p>
                      </div>

                    </div>

                  </div>
                </section>

                <div>

                </div>

              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer noprint">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary printMe">Print</button>
        </div>
      </div>
    </div>
  </div>