<div class="header_section"> </div>
<div  class="settings unit content100vh">
  <div class="container">

    <div class="row">
      <div class="row top-bar">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title pull-left"> <a class="btn btn-success" routerLink="/smsDashboard" title="Back"><img
                  style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
            <h3 class="center-heading text-center">ADC Setup</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
          </div>
          <div class="panel-body">
              <!-- <form #searchForm="ngForm" class="form-inline">
                  <div class="form-group">
                    <label for="pwd">Year</label>
                     <select [(ngModel)]="searchItemType" required name="ItemType" class="form-control">
                      <option value='undefined'>-Select-</option>
                      <option *ngFor="let itemType of lstDemandItemType" [value]="itemType.id">
                        {{itemType.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="pwd">তারিখ হইতেঃ</label>
                    <input type="date" required [ngModel]="objADCSetup.FromDate | date:'yyyy-MM-dd'"
                    (ngModelChange)="objADCSetup.FromDate = $event" class="form-control" name="adcFromDate">
                  </div>
                  <div class="form-group">
                    <label for="pwd">তারিখ প্রতিঃ</label>
                    <input type="date" required [ngModel]="objADCSetup.ToDate | date:'yyyy-MM-dd'"
                    (ngModelChange)="objADCSetup.ToDate = $event" class="form-control" name="adcToDate">
                  </div>
                  <div class="form-group">             
                    <button [disabled]='!searchForm.valid' class="btn btn-success search-btn" type="submit">Serach</button>
                  </div>
                </form> -->

            <form #unitForm="ngForm" class="form-inline">
                <div class="form-group">
                    <label for="pwd">Year</label>
                    <!-- <input type="text" required [(ngModel)]="objQueryObject.Type" class="form-control" name="Type"> -->
                    <select [(ngModel)]="objADCSetup.Year" required name="year" id="year" class="form-control">
                        <option value='undefined'>-Select-</option>
                        <option *ngFor="let year of lstYear" [value]="year.id">
                          {{year.name}}
                        </option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="pwd">তারিখ হইতেঃ</label>
                    <input type="date" required [ngModel]="objADCSetup.FromDate | date:'yyyy-MM-dd'"
                    (ngModelChange)="objADCSetup.FromDate = $event" class="form-control" name="adcFromDate">
                  </div>
                  <div class="form-group">
                    <label for="pwd">তারিখ প্রতিঃ</label>
                    <input type="date" required [ngModel]="objADCSetup.ToDate | date:'yyyy-MM-dd'"
                    (ngModelChange)="objADCSetup.ToDate = $event" class="form-control" name="adcToDate">
                  </div> 
              
              <div style="clear:both"></div>
              <div class="container">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table tableFixHead" style="width:100%">
                      <tr>

                        <th>দ্রব্যের নাম</th>
                        <th>হিসাবের একক</th>
                        <th>ফ্রি এ ডি সি </th>
                        <th>পেমেন্ট এ ডি সি</th>                       
                        <th>একশন</th>
                      </tr>
                      <tr *ngFor="let rDetail of lstADCSetupDetail; let i = index;">
                        <td>
                          <select [(ngModel)]="rDetail.ItemID" name="itemID{{i}}" class="form-control">
                            <option value="undefined">Select Item</option>
                            <option *ngFor="let item of lstItem" [value]="item.ItemID">
                              {{item.ItemName}}
                            </option>
                          </select>
                        </td>
                        <td>
                          <select [(ngModel)]="rDetail.UnitOfMeasure" name="itemName{{i}}" class="form-control">
                            <option value="undefined">Select Unit</option>
                            <option *ngFor="let unitOfMeasure of lstUnitOfMeasure"
                              [value]="unitOfMeasure.UnitOfMeasureID">
                              {{unitOfMeasure.Name}}
                            </option>
                          </select>
                        </td>

                        <td><input name="FreeADC{{i}}" type="number" [(ngModel)]="rDetail.FreeADC" class="form-control"
                            placeholder=""></td>
                          
                            <td><input name="PaymentADC{{i}}" type="number" [(ngModel)]="rDetail.PaymentADC" class="form-control"
                              placeholder=""></td>

                        <td>
                          <button (click)="addResource()" class="btn"> <img src="../../../assets/image/plus.svg" alt="">
                          </button>
                          <button (click)="removeResource()" class="btn"><img src="../../../assets/image/minus.svg"
                              alt="">
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-12 text-right" style="padding-top:15px">
                    <button [disabled]='!unitForm.valid' (click)="saveADCSetup()" class="btn btn-primary"> Save
                    </button>
                    <button class="btn btn-success" (click)="close()">Close</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
