<div class="header_section"> </div>
<div class="container content100vh">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title pull-left"> <a class="btn btn-success" routerLink="/distribution" title="Back"><img
                style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
          <h3 class="center-heading text-center">ফ্রেশ আইটেম ডিমান্ড লিস্ট</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
        </div>
        <div class="panel-body">
          <form #searchForm="ngForm" class="form-inline">
            <div class="form-group">
              <label for="email">ইউনিটঃ</label>
              <select [(ngModel)]="objQueryObject.UnitID" name="unitID" class="form-control w250">
                <option value='0'>All</option>
                <option *ngFor="let vmUnit of lstVMUnit" [value]="vmUnit.Unit.UnitID">
                  {{vmUnit.Unit.UnitName}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="pwd">তারিখ হইতেঃ</label>

              <input type="date" required [ngModel]="objQueryObject.FromDate | date:'yyyy-MM-dd'"
                (ngModelChange)="objQueryObject.FromDate = $event" class="form-control" name="fromDate">
            </div>
            <div class="form-group">
              <label for="pwd">তারিখ প্রতিঃ</label>
              <input type="date" required required [ngModel]="objQueryObject.ToDate | date:'yyyy-MM-dd'"
                (ngModelChange)="objQueryObject.ToDate = $event" class="form-control" name="toDate">
            </div>
            <div class="form-group">
              <button [disabled]='!searchForm.valid' class="btn btn-success search-btn"
                (click)="getAllUnitDemandByFilter()" type="submit">Serach</button>

              <button [disabled]='!searchForm.valid' class="btn btn-success search-btn"
                (click)="getAllUnitDemandSummary()" type="submit">Demand Summary</button>
            </div>
          </form>
        </div>
      </div> <br>
      <div class="table-responsive">
        <table class="table table-hover tableFixHead" style="border: 1px solid #565656;">
          <tr>
            <th>Unit Name</th>
            <th>Number of People</th>
            <th>Demand Date</th>
            <!-- <th>Number Of People</th> -->
            <th> Status</th>
            <th style="width:15%; text-align:right ">Action</th>

          </tr>
          <tr *ngFor="let vmDemand of lstVMUnitDemand">
            <td>{{vmDemand.FreshDemand.UnitName}}</td>
            <td>{{vmDemand.FreshDemand.NumberOfPeople}}</td>
            <td>{{vmDemand.FreshDemand.DemandDate | date:'yyyy-MM-dd'}}</td>
            <!-- <td>{{vmDemand.ButcheryDemand.NumberOfPeople}}</td> -->
            <td>{{vmDemand.FreshDemand.StatusName}}</td>
            <td style="text-align:right">
              <a title="Detail" (click)="demandDetail(vmDemand.FreshDemand.FreshDemandID)" class="edit"><i
                  class='fa fa-list' style="font-size: 20px; margin-right:20px"></i></a>
              <!--  <a title="Edit" [hidden]="vmDemand.FreshDemand.Status>1" (click)="editDemand(vmDemand)" class="edit"><i
                      class="fa fa-pencil" style="font-size: 20px;margin-right:20px"></i></a>-->
              <!-- || vmDemand.FreshDemand.Status==5 -->

              <a title="Distribute" [hidden]="userLevel<6" (click)="distributeDemand(vmDemand)" class="edit"><i
                  class="fa fa-check-square" style="font-size: 20px;margin-right:20px"></i></a>

              <a title="Print" [hidden]="userLevel<6 || vmDemand.FreshDemand.Status==6"
                (click)="distributeDemandInvoice(vmDemand)" class="edit"><i class="fa fa-print"
                  style="font-size: 20px;margin-right:20px"></i></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div class="modal fade" id="unitDemandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Unit Demand Approval</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table movie-table">
            <thead>
              <tr class="movie-table-head">
                <th>ক্রমিক</th>
                <th>পণ্যের নাম</th>
                <th style="text-align:right">স্কেল</th>
                <th style="text-align:right">মোট</th>
                <th style="text-align:right">প্রদেয় পরিমাণ</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let objFreshDetail of lstFreshDemandDetail; let i=index" class="dark-row">
                <td>
                  &nbsp;{{i+1}}</td>
                <td>
                  {{objFreshDetail.ItemName}}
                </td>
                <td style="text-align:right">
                  {{objFreshDetail.Quantity}}


                </td>
                <td style="text-align:right">
                  {{ objFreshDetail.Total}}</td>

                <td style="text-align:right">
                  {{objFreshDetail.ApprovedQty}}
                </td>
              </tr>
            </tbody>

          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="demandSummaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Unit Demand Approval</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table movie-table">
            <thead>
              <tr class="movie-table-head">
                <th>Item Name</th>
                <th style="text-align:right">Quantity</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let objFreshDetail of lstItemSummary; let i=index" class="dark-row">
                <td>
                  {{objFreshDetail.ItemName}}
                </td>
                <td style="text-align:right">
                  {{objFreshDetail.Quantity}}
                </td>
              </tr>
            </tbody>

          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="unitDistributionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Unit Demand Approval</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <table class="table movie-table">
            <thead>
              <tr class="movie-table-head">
                <th>ক্রমিক</th>
                <th>পণ্যের নাম</th>
                <!-- <th>জনবল</th> -->
                <th style="text-align:right">স্কেল</th>
                <th style="text-align:right">মোট</th>
                <th style="text-align:right">প্রদেয় পরিমাণ</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let objFreshDetail of lstFreshDemandDetail; let i=index" class="dark-row">
                <td>
                  <input [disabled]="!objFreshDetail.showInDemand" [(ngModel)]="objFreshDetail.itemCheck"
                    (change)="enableEntry(i)" name="itemCheck{{i}}" type="checkbox">
                  &nbsp;{{i+1}}</td>
                <td>
                  {{objFreshDetail.ItemName}}

                </td>
                <td style="text-align:right">
                  {{objFreshDetail.Quantity}}
                </td>
                <td style="text-align:right">
                  {{ objFreshDetail.Total}}</td>

                <td style="text-align:right">
                  <input [disabled]="objFreshDetail.itemDisable" type="text" style="text-align:right"
                    class=" form-control" name="approveQuantity{{i}}" [(ngModel)]="objFreshDetail.ApprovedQty">
                </td>
              </tr>
            </tbody>

          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="saveUnitfreshDemand()" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="Invoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0px solid #e5e5e5;">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Unit Demand Approval</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="InvoicePrint" style="border-bottom: 0px solid #e5e5e5;">
          <div style="background-color: #fff;width: 100%;">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="text-right" style="padding:25px">
                    <h5>বি এ এফ এস -১৫৫৫ এর পরিবর্তে</h5>
                    <div style="margin: -3px 15px;float: right;width: 30%;">
                      <div id="barcodeTarget" class="barcodeTarget">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" style="width:60%;margin-bottom: 20px">
                    <p style="padding-left: 5px">ক্রমিক নং</p>
                    <p style="padding-left: 5px">এস এসসি এর চালান নং</p>
                    <p style="padding-left: 5px">এস এস ডি সবজি গ্রূপ হইতে বুঝিয়া পাইলাম</p>
                    <table>
                      <tr>
                        <td style="padding:5px">ইউনিটঃ</td>
                        <td>{{objFreshDemand.UnitName}}</td>
                      </tr>
                      <tr>
                        <td style="padding:5px">তারিখঃ</td>
                        <td style="padding:5px">{{objFreshDemand.ApprovedDate | date:'yyyy-MM-dd'}}</td>
                      </tr>
                    </table>
                  </div>

                  <div class="col-md-12">
                    <div class="table-responsive" style="max-height:auto;min-height:auto; margin-bottom: 25px">
                      <table class="tableFixHead" border="1" cellpadding="5" width="100%">
                        <tr>

                          <th style="text-align:center;padding: 5px">ক্রমিক </th>
                          <th>পণ্যের নাম</th>
                          <th style="text-align:center;padding: 5px">কেজি</th>



                        <tr *ngFor="let objFreshDetail of lstFreshDemandDetail; let i=index" class="dark-row">
                          <td>
                            &nbsp;{{i+1}}</td>
                          <td>
                            {{objFreshDetail.ItemName}}
                          </td>
                          <td style="text-align:right">
                            {{ objFreshDetail.ApprovedQty}}</td>
                        </tr>
                        <tr>
                          <td colspan="3" style="text-align:center">
                            ( মোট উপাদান {{lstFreshDemandDetail.length}} )
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class="row" style="width: 100%">
                      <div class="col-md-4">
                        <p></p>
                        <p style="float:left;">তত্ত্বাবধায়ক এর স্বাক্ষর </p>
                      </div>
                      <div class="col-md-8">
                        <p></p>
                        <p style="float:left">ইউনিট কোয়ার্টার মাস্টার/প্রতিনিধির
                          স্বাক্ষর </p>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-md-6">
                  <div class="text-right" style="padding:25px">
                    <h5>বি এ এফ এস -১৫৫৫ এর পরিবর্তে</h5>
                    <div style="margin: -3px 15px;float: right;width: 30%;">
                      <div id="barcodeTarget" class="barcodeTarget">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" style="width:60%;margin-bottom: 20px">
                    <p style="padding-left: 5px">ক্রমিক নং</p>
                    <p style="padding-left: 5px">এস এসসি এর চালান নং</p>
                    <p style="padding-left: 5px">এস এস ডি সবজি গ্রূপ হইতে বুঝিয়া পাইলাম</p>
                    <table>
                      <tr>
                        <td style="padding:5px">ইউনিটঃ</td>
                        <td>{{objFreshDemand.UnitName}}</td>
                      </tr>
                      <tr>
                        <td style="padding:5px">তারিখঃ</td>
                        <td style="padding:5px">{{objFreshDemand.ApprovedDate | date:'yyyy-MM-dd'}}</td>
                      </tr>
                    </table>
                  </div>

                  <div class="col-md-12">
                    <div class="table-responsive" style="max-height:auto;min-height:auto; margin-bottom: 25px">
                      <table class="tableFixHead" border="1" cellpadding="5" width="100%">
                        <tr>

                          <th style="text-align:center;padding: 5px">ক্রমিক </th>
                          <th>পণ্যের নাম</th>
                          <th style="text-align:center;padding: 5px">কেজি</th>



                        <tr *ngFor="let objFreshDetail of lstFreshDemandDetail; let i=index" class="dark-row">
                          <td>
                            &nbsp;{{i+1}}</td>
                          <td>
                            {{objFreshDetail.ItemName}}
                          </td>
                          <td style="text-align:right">
                            {{ objFreshDetail.ApprovedQty}}</td>
                        </tr>
                        <tr>
                          <td colspan="3" style="text-align:center">
                            ( মোট উপাদান {{lstFreshDemandDetail.length}} )
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class="row" style="width: 100%">
                      <div class="col-md-4">
                        <p></p>
                        <p style="float:left;">তত্ত্বাবধায়ক এর স্বাক্ষর </p>
                      </div>
                      <div class="col-md-8">
                        <p></p>
                        <p style="float:left">ইউনিট কোয়ার্টার মাস্টার/প্রতিনিধির
                          স্বাক্ষর </p>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>


          </div>
          <div class="modal-footer noprint">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" (click)="generatePrint()" class="btn btn-primary printMe">Print</button>
          </div>
        </div>
      </div>
    </div>