<div class="header_section"> </div>
<div class="container content100vh">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title pull-left"> <a class="btn btn-success" routerLink="/distribution" title="Back"><img
                style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
          <h3 class="center-heading text-center">হাইজিন এন্ড কেমিক্যাল আইটেম ডিমান্ড লিস্ট</h3>
          <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
        </div>
        <div class="panel-body">
          <form #searchForm="ngForm" class="form-inline">
            <div class="form-group">
              <label for="email">ইউনিটঃ</label>
              <select [(ngModel)]="objQueryObject.UnitID" name="unitID" class="form-control w250">
                <option value='undefined'>All</option>
                <option *ngFor="let vmUnit of lstVMUnit" [value]="vmUnit.Unit.UnitID">
                  {{vmUnit.Unit.UnitName}}
                </option>
              </select>
            </div>
          <!-- <div class="form-group">
              <label for="pwd">তারিখ হইতেঃ</label>
              <input type="date" required [(ngModel)]="objQueryObject.FromDate" class="form-control" name="fromDate">
            </div>
            <div class="form-group">
              <label for="pwd">তারিখ প্রতিঃ</label>
              <input type="date" required [(ngModel)]="objQueryObject.ToDate" class="form-control" name="toDate">
            </div>-->
            <div class="form-group">
              <label for="pwd">তারিখ হইতেঃ</label>
              <input type="date" required [ngModel]="objQueryObject.FromDate | date:'yyyy-MM-dd'"
                  (ngModelChange)="objQueryObject.FromDate = $event" class="form-control" name="fromDate">
          </div>
          <div class="form-group">
              <label for="pwd">তারিখ প্রতিঃ</label>
              <input type="date" required [ngModel]="objQueryObject.ToDate | date:'yyyy-MM-dd'"
                  (ngModelChange)="objQueryObject.ToDate = $event" class="form-control" name="toDate">
          </div>
            <div class="form-group">
              <button [disabled]='!searchForm.valid' class="btn btn-success search-btn"
                (click)="getAllUnitDemandByFilter()" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div> <br>
      <div class="table-responsive">
        <table class="table table-hover tableFixHead" style="border: 1px solid #565656;">
          <tr>
            <th>Unit Name</th>
            <th>Demand Date</th>
            <th style="text-align:center">Number Of People</th>
            <th> Status</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let vmDemand of lstVMUnitDemand">
              <td>{{vmDemand.HygineAndChemicalDemand.UnitName}}</td>
              <td>{{vmDemand.HygineAndChemicalDemand.DemandDate | date:'yyyy-MM-dd'}}</td>
              <td style="text-align:center">{{vmDemand.HygineAndChemicalDemand.NumberOfPeople}}</td>
              <td>{{vmDemand.HygineAndChemicalDemand.StatusName}}</td>  
            <td>
              <!--<a title="Edit" (click)="demandDetail(vmDemand)" class="edit"><i class='fa fa-list'
                  style="font-size: 20px; margin-right:20px"></i></a>
              <a title="Delete" (click)="deleteUnit(vmDemand)" class="delete"><i class="fa fa-trash"
                  style="font-size: 20px;margin-right:20px"></i></a>
              <a title=" Approve" (click)="approveDemand(vmDemand)" class="success"><i class="fa fa-check-square"
                  style="font-size: 20px"></i></a>-->
                  <a title="Detail" (click)="demandDetail(vmDemand)" class="detail"><i class='fa fa-list'
                    style="font-size: 20px; margin-right:20px"></i></a>
            <a title="Distribute" [hidden]="vmDemand.HygineAndChemicalDemand.Status==5" (click)="distributeDemand(vmDemand)" class="success"><i class="fa fa-check-square"
                    style="font-size: 20px"></i></a>     
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="unitDemandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Unit Demand Approval</h5> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table class="table movie-table">
                <thead>
                    <tr class="movie-table-head">
                        <th>ক্রমিক</th>
                        <th>পণ্যের নাম</th>
                        <th style="text-align:right">স্কেল</th>
                        <th style="text-align:right">মোট</th>
                        <th style="text-align:right">প্রদেয় পরিমান</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let objFreshDetail of lstDemandDetail; let i=index"
                        class="dark-row">
                        <td>
                            &nbsp;{{i+1}}</td>

                        <td>{{objFreshDetail.ItemName}}</td>
                        <td style="text-align:right">{{objFreshDetail.Quantity}}
                        </td>
                        <td style="text-align:right"> {{objFreshDetail.Total}}
                        </td>
                        <td style="text-align:right"> {{objFreshDetail.ApprovedQty}}
                        </td>
                    </tr>
                </tbody>
            </table>
                  </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="saveDistribution()" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>


  
  <div class="modal fade" id="unitDemandDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Unit Demand Detail</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <table class="table movie-table">
                  <thead>
                      <tr class="movie-table-head">
                          <th>ক্রমিক</th>
                          <th>পণ্যের নাম</th>
                          <th style="text-align:right">স্কেল</th>
                          <th style="text-align:right">মোট</th>
                          <th style="text-align:right">প্রদেয় পরিমান</th>
                      </tr>
                  </thead>
                  <tbody>
  
                      <tr *ngFor="let objFreshDetail of lstDemandDetail; let i=index"
                          class="dark-row">
                          <td>
                              &nbsp;{{i+1}}</td>  
                          <td>{{objFreshDetail.ItemName}}</td>
                          <td style="text-align:right">{{objFreshDetail.Quantity}}
                          </td>
                          <td style="text-align:right"> {{objFreshDetail.Total}}
                          </td>
                          <td style="text-align:right"> {{objFreshDetail.ApprovedQty}}
                          </td>
                      </tr>
                  </tbody>
              </table>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>             
            </div>
      </div>
  </div>
</div>







