<section class="content content100vhome">
  <div class="container">
    <div class="row heading"> </div>
    <div class="row">
      <div class="col-md-12 text-center home-logo">
        <img style="width: 160px;" src="../../../assets/image/logo.png">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4 text-center">
        <div class="item">
          <a [routerLink]="['/login']"><img style="width: 75px;" src="../../../assets/image/car.svg">
            <h3> Transport Management </h3>
          </a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="item">

          <a [routerLink]="['/smsLogin']"><img style="width: 75px;" src="./../../assets/image/supply.png">
            <h3> Supply Management </h3>
          </a>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="developText">DEVELOPED BY SSD GHATAIL</p>
      </div>
    </div>
    <!-- <div class="col-md-8 col-md-offset-2">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3630.6314016150973!2d89.99610538572348!3d24.49822511421052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fdf560cd2f9b9d%3A0xe414ca4998db4c06!2sCantonment+Tila+Bazar!5e0!3m2!1sen!2sus!4v1550501355413"
          width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div> -->
  </div>
</section>