<div class="header_section"> </div>
<div class="content100vh">
    <section [hidden]="!showEntry" class="content100vh">
        <div class="header_section"> </div>
        <div class="container">
            <form class="form-inline" #freshDemandForm="ngForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title pull-left"> <a class="btn btn-success" (click)="close()"
                                        title="Back"><img style="width: 24px;" src="./../../assets/image/back.svg"></a>
                                </h3>
                                <h3 class="center-heading text-center">ইউনিট ফ্রেশ ডিমান্ড</h3>
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="email">ইউনিটঃ</label>
                                    <select (change)="loadItem()" [(ngModel)]="objFreshDemand.FromUnitID" required
                                        name="fromUnitID" class="form-control">
                                        <option value='undefined'>-Select-</option>
                                        <option *ngFor="let vmUnit of lstVMUnit" [value]="vmUnit.Unit.UnitID">
                                            {{vmUnit.Unit.UnitName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">তারিখঃ</label>
                                    <input type="date" [ngModel]="objFreshDemand.DemandDate | date:'yyyy-MM-dd'"
                                        (ngModelChange)="objFreshDemand.DemandDate = $event" required
                                        class="form-control" name="demandDmand">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">জনবলঃ</label>
                                    <input type="numbner" (change)="calculateTotal()"
                                        [(ngModel)]="objFreshDemand.NumberOfPeople" required class="form-control"
                                        name="numberOfPeople">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">সংগ্রহের স্থান</label>
                                    <select [(ngModel)]="objFreshDemand.SupplyPlaceID" name="SupplyPlaceID"
                                        class="form-control">
                                        <option value='undefined'>-Select-</option>
                                        <option *ngFor="let suplyPlace of lstSupplyPlace"
                                            value="{{suplyPlace.SupplyPlaceID}}">
                                            {{suplyPlace.SupplyPlaceName}}
                                        </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><br>
                <div style="font-weight:bold" class="pull-right">Total:{{totalDemand | number:'2.2'}}</div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive table-bordered movie-table">
                            <table class="table movie-table tableFixHead">
                                <thead>
                                    <tr class="movie-table-head">
                                        <th>ক্রমিক</th>
                                        <th>পণ্যের নাম</th>
                                        <th style="text-align:right">স্কেল</th>
                                        <th style="text-align:right">মোট</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <!--row-->
                                    <tr *ngFor="let objFreshDetail of lstFreshDemandDetail; let i=index"
                                        class="dark-row">
                                        <td> &nbsp;
                                            <input [(ngModel)]="objFreshDetail.itemCheck"
                                                (change)="calculateTotal($event,i)" name="itemCheck{{i}}"
                                                type="checkbox">
                                            &nbsp;{{i+1}}
                                        </td>

                                        <td>{{objFreshDetail.ItemName}}</td>

                                        <td style="text-align:right">
                                            <input style="text-align:right" type="text" disabled name="Quantity{{i}}"
                                                [(ngModel)]="objFreshDetail.Quantity" class="form-control">
                                        </td>
                                        <td style="text-align:right">
                                            <input style="text-align:right" type="text" name="Total{{i}}"
                                                [(ngModel)]="objFreshDetail.Total" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row" style="padding-top:10px">
                <div class="col-md-12 text-right">
                    <button [disabled]='!freshDemandForm.valid' (click)="saveUnitfreshDemand()" class="btn btn-primary">
                        Save
                    </button>
                    <button class="btn btn-danger" (click)="close()" type="submit">Close</button>
                </div>
            </div>
        </div>

    </section>

    <div class="container">
        <div [hidden]="showEntry" class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title pull-left"> <a class="btn btn-success" routerLink="/unitDemand"
                                title="Back"><img style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
                        <h3 class="center-heading text-center">ইউনিট ফ্রেশ ডিমান্ড</h3>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                    </div>
                    <div class="panel-body">
                        <form #searchForm="ngForm" class="form-inline">

                            <div class="form-group">
                                <label for="email">ইউনিটঃ</label>
                                <select [(ngModel)]="objQueryObject.UnitID" name="unitID" class="form-control">
                                    <option value='undefined'>All</option>
                                    <option *ngFor="let vmUnit of lstVMUnit" [value]="vmUnit.Unit.UnitID">
                                        {{vmUnit.Unit.UnitName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pwd">সংগ্রহের স্থানঃ</label>
                                <select class="form-control" name="supplyPalce"
                                    [(ngModel)]="objQueryObject.SupplyPlaceID">
                                    <option value='undefined'>-Select-</option>
                                    <option *ngFor="let suplyPlace of lstSupplyPlace"
                                        value="{{suplyPlace.SupplyPlaceID}}">
                                        {{suplyPlace.SupplyPlaceName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="pwd">হইতেঃ</label>
                                <input type="date" required [ngModel]="objQueryObject.FromDate | date:'yyyy-MM-dd'"
                                    (ngModelChange)="objQueryObject.FromDate = $event" class="form-control"
                                    name="fromDate">
                            </div>
                            <div class="form-group">
                                <label for="pwd">প্রতিঃ</label>
                                <input type="date" required [ngModel]="objQueryObject.ToDate | date:'yyyy-MM-dd'"
                                    (ngModelChange)="objQueryObject.ToDate = $event" class="form-control" name="toDate">
                            </div>

                            <div class="form-group">
                                <button [disabled]='!searchForm.valid' class="btn btn-success search-btn"
                                    (click)="getFilteredFreshDemand()" type="submit">Serach</button>
                                <button class="btn btn-success search-btn" (click)="addNew()" type="submit">Add
                                    New</button>
                            </div>
                        </form>
                    </div>
                </div> <br>
                <div class="table-responsive">
                    <table class="table table-hover tableFixHead" style="border: 1px solid #565656;">
                        <tr>
                            <th>Unit Name</th>
                            <th>Supply Place</th>
                            <th>Demand Date</th>

                            <th> Status</th>
                            <th style="width:15%; text-align:right ">Action</th>

                        </tr>
                        <tr *ngFor="let vmDemand of lstVMUnitDemand">
                            <td>{{vmDemand.FreshDemand.UnitName}}</td>
                            <td>{{vmDemand.FreshDemand.SupplyPlaceName}}</td>
                            <td>{{vmDemand.FreshDemand.DemandDate | date:'yyyy-MM-dd'}}</td>
                            <!-- <td>{{vmDemand.ButcheryDemand.NumberOfPeople}}</td> -->
                            <td>{{vmDemand.FreshDemand.StatusName}}</td>
                            <td style="text-align:right">
                                <a title="Detail" (click)="demandDetail(vmDemand)" class="edit"><i class='fa fa-list'
                                        style="font-size: 20px; margin-right:20px"></i></a>
                                <a title="Edit" (click)="editDemand(vmDemand)" [hidden]="vmDemand.FreshDemand.Status>4"
                                    class="edit"><i class="fa fa-pencil"
                                        style="font-size: 20px;margin-right:20px"></i></a>
                                <a title="Delete" (click)="deleteDemand(vmDemand.FreshDemand.FreshDemandID)"
                                    [hidden]="vmDemand.FreshDemand.Status>4" class="delete"><i class="fa fa-trash"
                                        style="font-size: 20px;margin-right:20px"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="unitDemandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Demand Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table movie-table tableFixHead">
                        <thead>
                            <tr class="movie-table-head">
                                <th>ক্রমিক</th>
                                <th>পণ্যের নাম</th>
                                <th style="text-align:right">স্কেল</th>
                                <th style="text-align:right">মোট</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!--row-->
                            <tr *ngFor="let objFreshDetail of lstFreshDemandDetail; let i=index" class="dark-row">
                                <td> &nbsp;
                                    &nbsp;{{i+1}}
                                </td>

                                <td>{{objFreshDetail.ItemName}}</td>

                                <td style="text-align:right">{{objFreshDetail.Quantity}}

                                </td>
                                <td style="text-align:right">
                                    {{objFreshDetail.Total}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Invoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px solid #e5e5e5;">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Unit Demand Approval</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="InvoicePrint" style="border-bottom: 0px solid #e5e5e5;">
                    <div style="background-color: #fff;width: 100%;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">


                                    <div class="text-right" style="padding:25px">
                                        <h5>বি এ এফ এস -১৫৫৫ এর পরিবর্তে</h5>
                                        <div style="margin: -3px 15px;float: right;width: 30%;">
                                            <div id="barcodeTarget" class="barcodeTarget">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="width:60%;margin-bottom: 20px">
                                        <p style="padding-left: 5px">ক্রমিক নং</p>
                                        <p style="padding-left: 5px">এস এসসি এর চালান নং</p>
                                        <p style="padding-left: 5px">এস এস ডি সবজি গ্রূপ হইতে বুঝিয়া পাইলাম</p>
                                        <table>
                                            <tr>
                                                <td style="padding:5px">ইউনিটঃ</td>
                                                <td>{{objFreshDemand.UnitName}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:5px">তারিখঃ</td>
                                                <td style="padding:5px">
                                                    {{objFreshDemand.ApprovedDate | date:'yyyy-MM-dd'}}</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="table-responsive"
                                            style="max-height:auto;min-height:auto; margin-bottom: 25px">
                                            <table class="tableFixHead" border="1" cellpadding="5" width="100%">
                                                <tr>

                                                    <th style="text-align:center;padding: 5px">ক্রমিক </th>
                                                    <th>পণ্যের নাম</th>
                                                    <th style="text-align:center;padding: 5px">কেজি</th>



                                                <tr *ngFor="let objFreshDetail of lstFreshDemandDetail; let i=index"
                                                    class="dark-row">
                                                    <td>
                                                        &nbsp;{{i+1}}</td>
                                                    <td>
                                                        {{objFreshDetail.ItemName}}
                                                    </td>
                                                    <td style="text-align:right">
                                                        {{ objFreshDetail.ApprovedQty}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="text-align:center">
                                                        ( মোট উপাদান {{lstFreshDemandDetail.length}} )
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="row" style="width: 100%">
                                            <div class="col-md-6">
                                                <p></p>
                                                <p style="float:left;">তত্ত্বাবধায়ক এর স্বাক্ষর </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p></p>
                                                <p style="float:left">ইউনিট কোয়ার্টার মাস্টার/প্রতিনিধির
                                                    স্বাক্ষর </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer noprint">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" (click)="generatePrint()" class="btn btn-primary printMe">Print</button>
                    </div>
                </div>
            </div>
        </div>