 <div style="padding-top: 80px" class="header_section"></div>
    <div class="content100vh"> 
    <section> 
        <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
               <div class="panel panel-primary">
                  <div class="panel-heading">
                        <h3 class="panel-title pull-left"> <a class="btn btn-success" routerLink="/smsDashboard" title="Back"><img style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
                        <h3 class="center-heading text-center">পি ও এল  ম্যানেজমেন্ট</h3>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                  </div>
                  <div class="panel-body"> 
                        <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/polReceive']"><img style="width: 60px;" src="../../../assets/image/polreceive.png">
                              <h3>Pol Receive </h3>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/polAllotment']"><img style="width: 60px;" src="./../../assets/image/polallotment.png">
                              <h3>Pol Allotment</h3>
                            </a>
                          </div>
                        </div> 
                        <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/polDmd']"><img style="width: 70px;" src="./../../assets/image/pol.png">
                              <h3>Pol Distribution</h3>
                            </a>
                          </div>
                        </div>  
                        <!-- <div class="col-md-3 text-center">
                            <div class="item">
                              <a [routerLink]="['/polDmdList']"><img style="width: 70px;" src="./../../assets/image/pollist.png">
                                <h3>Pol Demand List</h3>
                              </a>
                            </div>
                          </div>  -->
                    </div>
                   </div>
          </div>
         
      </div>
      </div>
    </section>
  </div>