<div class="header_section"> </div>
<div [hidden]="!showEntry" class="settings unit content100vh">
  <div class="container">

    <div class="row">
      <div class="row top-bar">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title pull-left">
              <a class="btn btn-success" (click)="close()" title="Back">
                <img style="width: 24px;" src="./../../assets/image/back.svg">
              </a>
            </h3>
            <h3 class="center-heading text-center">Unit Of Measure</h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
          </div>
          <div class="panel-body">
            <form #unitForm="ngForm">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-5">
                        <label for="">Unit Of Measure Name</label>
                      </div>
                      <div class="col-md-7 pl0">
                        <input type="text" [(ngModel)]="objUnitOfMeasure.Name" name="name" class="form-control" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <label for="">Panent Unit Of Measure Name</label>
                      </div>
                      <div class="col-md-7 pl0">

                        <select [(ngModel)]="objUnitOfMeasure.ParentUnitOfMeasure" name="parentUnitOfMeasure"
                          class="form-control">
                          <option value="undefined">Select Unit</option>
                          <option *ngFor="let unitOfMeasure of lstUnitOfMeasure" [value]="unitOfMeasure.UnitOfMeasureID">
                            {{unitOfMeasure.Name}}
                          </option>
                        </select>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <label for="">Conversion Unit</label>
                      </div>
                      <div class="col-md-7 pl0">
                        <input type="number" name="conversionUnit" [(ngModel)]="objUnitOfMeasure.ConversionUnit"
                          class="form-control" />
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col-md-12 text-right" style="padding-top:15px">
                    <button [disabled]='!unitForm.valid' (click)="saveUnit()" class="btn btn-primary">
                      Save
                    </button>
                    <button class="btn btn-success" (click)="close()">Close</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>




      </div>
    </div>
  </div>

</div>
<div [hidden]="showEntry" class="container content100vh">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">
            <a class="btn btn-success" routerLink="/smsDashboard" title="Back">
              <img style="width: 24px;" src="./../../assets/image/back.svg">
            </a>
          </h3>
          <h3 class="center-heading text-center">Unit Of Measure</h3>
          <span class="pull-right clickable">
            <a class="btn btn-success add-new-btn" (click)="addNew()">
              Add
              New
            </a>
          </span>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover" style="border: 1px solid #565656;">
              <tr>
                <th>Unit Of Measure Name</th>
                <th>Parent Unit Of Measure Name</th>
                <th>Conversion Unit</th>
                <th>Action</th>

              </tr>
              <tr *ngFor="let unitOfMeasure of lstUnitOfMeasure">
                <td>{{unitOfMeasure.Name}}</td>
                <td>{{unitOfMeasure.ParentUnitOfMeasureName}}</td>
                <td>{{unitOfMeasure.ConversionUnit}}</td>
                <td>
                  <a title="Edit" (click)="editUnit(unitOfMeasure)" class="edit">
                    <i class='fa fa-check-square' style="font-size: 20px; margin-right:20px"></i>
                  </a>
                  <a title="Delete" (click)="deleteUnit(unitOfMeasure)" class="delete">
                    <i class="fa fa-trash" style="font-size: 20px"></i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>