<section class="content100vh">
    <div class="header_section"></div>
    <div class="container home">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title pull-left"> <a class="btn btn-success" routerLink="/smsDashboard" title="Back"><img
                    style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
              <h3 class="center-heading text-center">রিপোর্ট ম্যানেজমেন্ট</h3>
              <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
            </div>
            <div class="panel-body">
              <div [hidden]="userLevel<6 || userLevel==8" class="col-md-3 text-center">
                <div class="item">
                  <a [routerLink]="['/stockReport']"><img style="width: 60px;" src="../../../assets/image/adminReports.png">
                    <h3>Stock Reports</h3>
                  </a>
                </div>
              </div>
              <div class="col-md-3 text-center">
                <div class="item">
                  <a [routerLink]="['/stockReport']"><img style="width: 60px;"
                      src="./../../assets/image/adminReports.png">
                    <h3>Unit Recived Reports</h3>
                  </a>
                </div>
              </div>            
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>