<section> 
<div class="header_section"></div>
  <div class="container content100vh"> 
    <div class="row"> 
        <div class="col-md-12 text-center">
            <div class="panel panel-primary">
                  <div class="panel-heading">
                        <h3 class="panel-title pull-left"> <a class="btn btn-success" routerLink="/smsDashboard" title="Back"><img style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
                        <h3 class="center-heading text-center">ইউনিট ডিমান্ড</h3>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                  </div>
                  <div class="panel-body"> 
                      <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/dryRatDmd']"><img style="width: 60px;" src="../../../assets/image/dryrat.png">
                              <h3>DRY RAT DMD </h3>
                            </a>
                          </div>
                        </div>
                        <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/condimentDmd']"><img style="width: 70px;" src="./../../assets/image/condiment.png">
                              <h3>CONDIMENT DMD</h3>
                            </a>
                          </div>
                        </div> 
                        <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/polDmd']"><img style="width: 70px;" src="./../../assets/image/poldmd.png">
                              <h3>POL DMD</h3>
                            </a>
                          </div>
                        </div> 
                        <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/freshRatDmd']"><img style="width: 70px;" src="./../../assets/image/freshrat.png">
                              <h3>FRESH RAT DMD</h3>
                            </a>
                          </div>
                        </div>  
                        <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/butchryItemsDmd']"><img style="width: 105px;" src="./../../assets/image/butcher.png">
                              <h3>BUTCHERY ITEMS DMD</h3>
                            </a>
                          </div>
                        </div> 
                        <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/hospitalItemsDmsd']"><img style="width: 85px;" src="./../../assets/image/patient-food.png">
                              <h3>HOSPITAL ITEMS DMD</h3>
                            </a>
                          </div>
                        </div> 
                        <div class="col-md-3 text-center">
                          <div class="item">
                            <a [routerLink]="['/hcDmd']"><img style="width: 85px;" src="./../../assets/image/h&c.png">
                              <h3>H & C DMD</h3>
                            </a>
                          </div>
                        </div>  
                  </div>
              </div>
         </div>  
    </div>
  </div>
</section>