<section class="content100vh">
    <div class="header_section"></div>
  <div class="container"> 
    <div class="row">
        <div class="col-md-12 text-center">
             <div class="panel panel-primary">
                <div class="panel-heading">
                      <h3 class="panel-title pull-left"> <a class="btn btn-success" routerLink="/smsDashboard" title="Back"><img style="width: 24px;" src="./../../assets/image/back.svg"></a></h3>
                      <h3 class="center-heading text-center">ডিস্ট্রিবিউশন</h3>
                      <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
                </div>
                <div class="panel-body"> 
                    <div class="col-md-3 text-center">
                        <div class="item">
                          <a [routerLink]="['/dryRatDs']"><img style="width: 60px;" src="../../../assets/image/dryrat.png">
                            <h3>DRY RAT DS </h3>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-3 text-center">
                        <div class="item">
                          <a [routerLink]="['/condimentDs']"><img style="width: 70px;" src="./../../assets/image/condiment.png">
                            <h3>CONDIMENT DS</h3>
                          </a>
                        </div>
                      </div> 
                      <!-- <div class="col-md-3 text-center">
                        <div class="item">
                          <a [routerLink]="['/polDs']"><img style="width: 70px;" src="./../../assets/image/pol.png">
                            <h3>POL DS</h3>
                          </a>
                        </div>
                      </div>  -->
                      <div class="col-md-3 text-center">
                        <div class="item">
                          <a [routerLink]="['/freshRatDs']"><img style="width: 70px;" src="./../../assets/image/freshrat.png">
                            <h3>FRESH RAT DS</h3>
                          </a>
                        </div>
                      </div>  
                      <div class="col-md-3 text-center">
                        <div class="item">
                          <a [routerLink]="['/butchryItemsDs']"><img style="width: 70px;" src="./../../assets/image/butcher.png">
                            <h3>BUTCHRY ITEMS DS</h3>
                          </a>
                        </div>
                      </div> 
                      <div class="col-md-3 text-center">
                        <div class="item">
                          <a [routerLink]="['/hospitalItemsDs']"><img style="width: 70px;" src="./../../assets/image/patient-food.png">
                            <h3>HOSPITAL ITEMS DS</h3>
                          </a>
                        </div>
                      </div> 
                      <div class="col-md-3 text-center">
                        <div class="item">
                          <a [routerLink]="['/hcDs']"><img style="width: 70px;" src="./../../assets/image/h&c.png">
                            <h3>H & C DS</h3>
                          </a>
                        </div>
                      </div> 
                  </div>
                  </div>
        </div> 
      
    </div>
  </div>
</section>